@charset "utf-8";

:root{
   --fontFamily:'Poppins';
   --link: #000;
   --textColorPar: #000;
   --backgroundColor: #e5e5e5

}

/* content header */

.header{
   background: var(--backgroundColor);
}

.divHeader {
   display: flex;

   align-items: center;

   width: 1440px;
   height: 80px;

   margin: 0 auto;
}

.headerUl {
   display: flex;
}

.headerList {
   list-style: none;
}

/* Опис списку */

.headerLi {
   margin-right: 30px;
}

.headerLiTwo {
   margin-right: 0px;
}

/* Опис параграфа Логотипу */

.blue {
   width: 209px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 600;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);

   margin-left: 75px;
}

/* Опис параграфа Логотипу */

.spanBlue {
   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 300;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис класу ссилок */

.headerLink {
   width: 93px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-align: center;
   text-decoration: none;

   color: var(--link);
}

/* Опис дів контакту */

.divContact {
   margin-left: 30px;
}

/* Опис классу параграфа */

.parSv {
   margin-left: 30px;
}