@charset "utf-8";

:root{
   --fontFamily:'Poppins';
   --link: #000;
   --linkTwo: #fff;
   --linkThree: #111;
   --titleColor: #000;
   --titleColorTwo: #111;
   --titleColorSpan: #3c5ef0;
   --textColorPar: #000;
   --textColorParTwo: #111;
   --textColorParDiv: #ece9e5;
   --parColorText: #fff;
   --backgroundColor: #e5e5e5;
   --backgroundColorDiv: #3C5EF0;
   --backgroundColorDivTwo: #e5e5e5;
   --backgroundColorSection: #111;
   --borderColor: #111;
}

.body {
   background-color: var(--backgroundColor);
}

/* content header */

.headerList {
   list-style: none;
   padding: 0;
}

.header{
   background-color: var(--backgroundColor);
}

.divHeader {
   display: flex;
   justify-content: space-between;

   align-items: center;

   width: 1440px;
   height: 80px;

   margin: 0px auto;
   padding: 0 75px;
}

.headerUl {
   display: flex;
   margin: -15px;
   align-items: center;
}

.navBox {
   display: flex;
   align-items: center;
}

/* Опис списку */

.headerLi {
   margin: 15px;
}

/* Опис параграфа Логотипу */

.blue {
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 600;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис параграфа Логотипу */

.spanBlue {
   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 300;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис класу ссилок */

.headerLink {
   width: 140px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--link);
}

/* Опис дів контакту */

.divContact {
   min-width: 143px;
  
   border-radius: 92px;

   background: var(--backgroundColorDiv);

   margin-left: 30px;
   padding: 8px 35px;
}

/* Опис класу ссилки */

.linkDivContact {
 
   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorParDiv);

}

/* Опис классу ссилки */

.linkSv {
   width: 20px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorPar);

   margin-left: 30px;
}

/* Секція маркетинг */



.sectionMarketing {
   width: 1440px;
   height: 751px; 

   background-image: url(./img/foto_1.png);

   background-repeat: no-repeat;

   background-position-x: 797px;
   background-position-y: 62px;

   background-size: 662px; 

   background-color: var(--backgroundColor);

   margin: 0px auto;
}

/* Заголовок маркетинг */

.titleMarketing {
   width: 975px;
   height: 191px;

   font-family: var(--fontFamily);
   font-size: 72px;
   font-weight: 700;
   line-height: 74.9px;
   letter-spacing: 3%;

   color: var(--titleColor);

   padding-top: 146px;
   padding-left: 75px;
}

.spanTitle {
   color: var(--titleColorSpan);
}

/* Параграф маркетинг Блок дів */

.divParMarketing {   
   padding-top: 46px;
   padding-left: 75px;
}

.parMarketing {
   width: 558px;

   font-family: var(--fontFamily);
   font-size: 28px;
   font-weight: 400;
   line-height: 29.13px;
   letter-spacing: 3%;

   color: var(--textColorPar);
}

/* Список маркетинг */

.marketingDivUl {
   display: flex;
   justify-content: space-between;
}

.marketingUl {
   display: flex;

   align-items: center;
}

.liMarketing {
   min-width: 190px;
   height: 36px; 

   border-radius: 58.5px;

   background-color: var(--backgroundColorDiv);

   text-align: center;

   align-items: center;

   padding: 7px 20px;
} 

.liMarketingTwo{
   min-width: 190px;
   height: 36px;

   border: 1px solid var(--borderColor);

   border-radius: 58.5px;

   background-color: var(--backgroundColorDivTwo);

   text-align: center;

   align-items: center;

   margin-left: 30px;

   padding: 7px 20px;
}

/* Опис силок в списку дів маркетинг */

.linkDivMarketing {
   min-width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkTwo);

    
}

.linkDivMarketingTwo {
   min-width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkThree);
}

/* Секція списку логотипів клієнтів */

.trustedClient {
   width: 1440px;
   height: 241px;

   background-color: var(--backgroundColorSection);

   margin: 0px auto;
}

/* Опис параграфа клієнтів */

.parTrustedClient {
   width: 191px;
   height: 25px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--parColorText);

   margin-top: 33px;
   margin-left: 625px;
}

/* Список логотипів клієнтів */

.trustedClientUl {
   display: flex;

   margin-left: -170px;
}

/* Позиція логотипів клієнтів */

.trustedClientLi {

   margin-top: 43px;
   margin-right: 47px;
}

.trustedClientLiOne {
   margin-top: -10px;
   margin-right: 123px;
}

.trustedClientLiTwo {
   margin-top: 43px;
   margin-right: 123px;
}

.trustedClientLiThree {
   margin-top: -40px;
   margin-right: 115px;
}

.trustedClientLiFor {
   margin-top: 36px;
   margin-right: 123px;
}

.trustedClientLiFive {
   margin-top: -10px;
}

/* Секція сервіс */

.servises {
   width: 1440px;
   
   margin: 0px auto;
}

.titleServises {
   width: 408px;
   height: 62px;

   font-family: var(--fontFamily);
   font-size: 60px;
   font-weight: 700;
   line-height: 62.41px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   margin-top: 144px;
   margin-left: 516px;
}

/* Опис списків сервісів */

.servisesUl {
   display: flex;

   list-style: none;
}

/* Опис списку лі сервісів */

.servisesLiOne {
   margin-left: 185px;
   margin-right: 25px;
}

.servisesLi {
   margin-right: 25px;
}

.servisesLiTwo {
   margin-right: 185px;
}

/* Опис блоків дів сектору сервіс */

.servisesDiv {
   width: 249px;
   height: 392px;
}

/* Опис логотипів сервісу список лі */

.servisesLogo {
   margin-top: 40px;
   margin-left: 106px;
}

.servisesLogoOne {
   margin-top: 34px;
   margin-left: 92px;
}

.servisesLogoTwo {
   margin-top: 40px;
   margin-left: 94px;
}

.servisesLogoThree {
   margin-top: 30px;
   margin-left: 95px;
}

/* Опис заголовків в секторі сервіс */

.servisesTitleDiv {
   width: 215px;
   height: 22px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   text-align: center;

   margin-top: 26px;
   margin-left: 17px;
}

.servisesTitleDivOne {
   width: 215px;
   height: 22px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   text-align: center;
   text-transform: uppercase;

   margin-top: 21px;
   margin-left: 17px;
}

.servisesTitleDivTwo {
   width: 215px;
   height: 22px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   text-align: center;

   margin-top: 20px;
   margin-left: 17px;
}

.servisesTitleDivThree {
   width: 216px;
   height: 22px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   text-align: center;

   margin-top: 26px;
   margin-left: 17px;
}

/* Опис параграфу сектора сервіс списку лі */

.servisesPar {
   width: 248px;
   height: 131px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 400;
   line-height: 16.2px;
   letter-spacing: 3%;

   color: var(--textColorParTwo);

   margin-top: 26px;
   margin-left: 1px;
}

.servisesParOne {
   width: 248px;
   height: 131px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 400;
   line-height: 16.2px;
   letter-spacing: 3%;

   color: var(--textColorParTwo);

   margin-top: 26px;
   margin-left: 1px;
}

.servisesParTwo {
   width: 244px;
   height: 131px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 400;
   line-height: 16.2px;
   letter-spacing: 3%;

   color: var(--textColorParTwo);

   margin-top: 26px;
   margin-left: 1px;
}

.servisesParThree {
   width: 249px;
   height: 131px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 400;
   line-height: 16.2px;
   letter-spacing: 3%;

   color: var(--textColorParTwo);

   margin-top: 26px;
   margin-left: 1px;
}

/* Опис діву силок списку сектора сервіс */

.linkDivServises {
   width: 109px;
   height: 27px;

   border-radius: 58.5px;

   background-color: var(--backgroundColorDiv);

   margin-top: 45px;
   margin-left: 140px;
}

/* Опис силок сектору сервіс */

