@charset "utf-8";

:root{
   --fontFamily:'Poppins';
   --link: #000;
   --linkTwo: #fff;
   --linkThree: #111;
   --linkFor: #ece9e5;
   --titleColor: #000;
   --titleColorTwo: #111;
   --titleColorThree: #ece9e5;
   --titleColorSpan: #3c5ef0;
   --textColorPar: #000;
   --textColorParTwo: #111;
   --textColorParDiv: #ece9e5;
   --parColorText: #fff;
   --backgroundColor: #e5e5e5;
   --backgroundColorDiv: #3C5EF0;
   --backgroundColorDivTwo: #e5e5e5;
   --backgroundColorSection: #111;
   --backgroundColorLi: #111;
   --borderColor: #111;
   --borderColorTwo: #3c5ef0;
}

.body {
   background-color: var(--backgroundColor);
}

/* content header */

.headerList {
   list-style: none;
   padding: 0;
}

.header{
   background-color: var(--backgroundColor);
}

.divHeader {
   display: flex;
   justify-content: space-between;

   align-items: center;

   width: 1440px;
   height: 80px;

   margin: 0px auto;
   padding: 0 75px;
}

.headerUl {
   display: flex;
   margin: -15px;
   align-items: center;
}

.navBox {
   display: flex;
   align-items: center;
}

/* Опис списку */

.headerLi {
   margin: 15px;
}

/* Опис параграфа Логотипу */

.blue {
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 600;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис параграфа Логотипу */

.spanBlue {
   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 300;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис класу ссилок */

.headerLink {
   width: 140px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--link);
}

/* Опис дів контакту */

.divContact {
   min-width: 143px;
  
   border-radius: 92px;

   background: var(--backgroundColorDiv);

   margin-left: 30px;
   padding: 8px 35px;
}

/* Опис класу ссилки */

.linkDivContact {
 
   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorParDiv);

}

/* Опис классу ссилки */

.linkSv {
   width: 20px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorPar);

   margin-left: 30px;
}

/* Секція маркетинг */

.sectionMarketing {
   width: 1440px;
   height: 751px; 

   background-image: url(./img/foto_1.png);

   background-repeat: no-repeat;

   background-position-x: 797px;
   background-position-y: 62px;

   background-size: 652px; 

   background-color: var(--backgroundColor);

   padding-top: 146px;
   margin: 0px auto;
}

/* Заголовок маркетинг */
.container{
   padding: 0 75px;
}

.titleMarketing {
   width: 975px;

   font-family: var(--fontFamily);
   font-size: 72px;
   font-weight: 700;
   line-height: 74.9px;
   letter-spacing: 3%;

   color: var(--titleColor);

   margin: 0;
}

.spanTitle {
   color: var(--titleColorSpan);
}

/* Параграф маркетинг */

.parMarketing {
   width: 558px;

   font-family: var(--fontFamily);
   font-size: 28px;
   font-weight: 400;
   line-height: 29.13px;
   letter-spacing: 3%;

   color: var(--textColorPar);

   margin-top: 46px;
}

/* Список маркетинг */

.marketingUl {
   display: flex;

   align-items: center;

   margin-top: 46px;
}

.liMarketing {
   min-width: 190px;
   height: 36px; 

   border: 1px solid var(--borderColor);

   border-radius: 58.5px;

   text-align: center;

   align-items: center;

   margin-right: 30px;
   padding: 7px 20px;
}

.liMarketing:hover, .liMarketing:focus{
   background-color: var(--backgroundColorDiv);
}

/* Опис силок в списку */

.linkDivMarketing {
   min-width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkThree);  
}

.linkDivMarketing:hover, .linkDivMarketing:focus{
   color: var(--linkTwo)
}

/* Секція списку логотипів клієнтів */
/* 
.trustedClient {
   width: 1440px;
   height: 241px;

   background-color: var(--backgroundColorSection);

   margin: 0px auto;
} */

/* Опис параграфа клієнтів */

/* .parTrustedClient {
   width: 191px;
   height: 25px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--parColorText);

   margin-top: 33px;
   margin-left: 625px;
} */

/* Список логотипів клієнтів */

/* .trustedClientUl {
   display: flex;

   margin-left: -170px;
} */

/* Позиція логотипів клієнтів */

/* .trustedClientLi {

   margin-top: 43px;
   margin-right: 47px;
}

.trustedClientLiOne {
   margin-top: -10px;
   margin-right: 123px;
}

.trustedClientLiTwo {
   margin-top: 43px;
   margin-right: 123px;
}

.trustedClientLiThree {
   margin-top: -40px;
   margin-right: 115px;
}

.trustedClientLiFor {
   margin-top: 36px;
   margin-right: 123px;
}

.trustedClientLiFive {
   margin-top: -10px;
} */

/* Секція сервіс */

.servises {
   background-color: var(--backgroundColor);

   padding-top: 136px;
}

.servicesContainer{
   width: 1440px;
   
   margin: 0px auto;
}

.titleServises {
   min-width: 408px;

   font-family: var(--fontFamily);
   font-size: 60px;
   font-weight: 700;
   line-height: 62.41px;
   letter-spacing: 3%;

   text-align: center;

   color: var(--titleColorTwo);

   /* margin: 0; */
} 

/* Опис списків сервісів */

.servisesUl {
   display: flex;

   list-style: none;

   padding: 75px 185px 0 185px;

   margin: 0;
} 

/* Опис списку лі сервісів */

.servisesLi {
   padding-right: 25px;
} 

/* Опис блоків дів секції сервіс */

.servisesDiv {
   min-width: 249px;
   min-height: 392px;

   border-bottom: 1px solid var(--borderColor);
}

/* Опис логотипів сервісу список лі */

.servisesLogo {
   margin-top: 40px;
   margin-left: 106px;
}

.servisesLogoOne {
   margin-top: 34px;
   margin-left: 92px;
}

.servisesLogoTwo {
   margin-top: 40px;
   margin-left: 94px;
}

.servisesLogoThree {
   margin-top: 30px;
   margin-left: 95px;
}

/* Опис заголовків в секції сервіс */

.servisesTitleDiv {
   width: 215px;
   height: 22px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   text-align: center;

}

.servisesTitleSocial{
   padding: 26px 17px 26px 17px;

   margin: 0;
}

.servisesTitleSeo {
   padding: 21px 17px 26px 17px;

   margin: 0;
}

.servisesTitleGoogle{
   padding: 20px 17px 26px 17px;

   margin: 0;
}

.servisesDivContent{
   padding: 31px 17px 26px 17px;

   margin: 0;
} 

/* Опис параграфу секції сервіс списку лі */

.servisesPar {
   width: 248px;
   height: 131px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 400;
   line-height: 16.2px;
   letter-spacing: 3%;

   color: var(--textColorParTwo);

   padding-top: 26px;
   padding-left: 1px;

   margin: 0;
} 



/* Опис діву силок списку секції сервіс */

.linkDivServises {
   width: 109px;
   height: 27px;

   border-radius: 58.5px;

   background-color: var(--backgroundColorDiv);

   margin-top: 45px;
   margin-left: 140px;
} 

/* Опис силок секції сервіс */

.linkServices{
   min-width: 109px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 12px;
   font-weight: 500;
   line-height: 16.2px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkTwo); 

   padding: 1px 20px 4px 20px;
}

.linkServices:hover, .linkServices:focus{
   color: var(--linkTwo);
}

/* Опис секції старс */

.stars{
   width: 1440px;
   height: 681px; 

   background-image: url(./img/Frame_13.png);

   background-repeat: no-repeat;

   margin: 273px auto 0 auto;
}

.starsTitle{
   font-family: var(--fontFamily);
   font-size: 53px;
   font-weight: 700;
   line-height: 55.13px;
   letter-spacing: 3%;

   color: var(--titleColorThree);

   padding: 153px 225px 34px 775px;

   margin: 0;
}

.starsPar{
   min-width: 480px;

   font-family: var(--fontFamily);
   font-size: 22px;
   font-weight: 300;
   line-height: 22.89px;
   letter-spacing: 3%;

   color: var(--titleColorThree);

   padding: 0 185px 36px 775px;

   margin: 0;
}

.starsDiv{
   min-width: 168px;
   min-height: 36px;

   border: 1px solid var(--borderColorTwo);
   border-radius: 58.5px;

   text-align: center;

   background-color: var(--backgroundColorDiv);

   padding: 8px 13px 5px 12px;
   margin: 0 497px 243px 775px;
}

.linkStars{
   min-width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 14px;
   font-weight: 500;
   line-height: 18.9px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkTwo);   
}

.linkStars:hover, .LinkStars:focus {
   color: var(--linkTwo);
}

/* Опис секції хендс */

.hands{
   width: 1440px;
   height: 572.32px; 

   background-image: url(./img/Group_92.png);

   background-repeat: no-repeat;

   margin: 161px auto 0 auto;
}

/* Опис титлу */

.handsTitle{
   font-family: var(--fontFamily);
   font-size: 60px;
   font-weight: 700;
   line-height: 62.41px;
   letter-spacing: 3%;

   text-align: center;

   color: var(--titleColorTwo);

   margin: 0;
}

/* Опис параграфу секції хендс */

.handsPar{
   width: 450px;

   font-family: var(--fontFamily);
   font-style: normal;
   font-size: 20px;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 3%;

   text-align: center;

   color: var(--titleColorTwo);

   margin-top: 20px;

   margin-left: 515px;
}

/* Опис дів контенту. */

.handsContainer{
   display: flex;

   margin-top: 38px;

   margin-left: 295px;
}

/* Опис списку секції хендс */

.handsUl{

   /* padding-top: 38px;
   padding-left: 295px; */

   margin-top: 38px;

   margin: 0;
}

.handsLi{
   width: 192px;
   height: 40px;

   border-bottom: 1px solid #111;

   margin-right: 28px;
}

/* Опис заголовку списку лі */

.handsTitleLi{
   min-width: 135px;
   min-height: 22px;

   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 500;
   line-height: 21px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   padding-bottom: 20px;

   margin: 0;
}

/* Опис параграфу списку ли */

.handsParLi{
   min-width: 135px;
   min-height: 22px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 16.64px;
   letter-spacing: 3%;

   color: var(--titleColorTwo);

   padding-top: 10px;
   padding-bottom: 8px;

   margin: 0;
}

/* Опис ссилок секції хендс */

.handsUlLink{
   display: flex;

   padding: 47px 472px 0 800px;
   
   margin: 0;
}

.linkLi{
   min-width: 168px;
   min-height: 36px;

   border: 1px solid #111;
   border-radius: 58.5px;

   text-align: center;

   background-color: var(--backgroundColorDivTwo);

   padding: 8px 13px 5px 12px;
   margin-right: 22px;
}

.linkLi:hover, .linkLi:focus{
   background-color: var(--backgroundColorLi);
}

.linkHands{
   min-width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 14px;
   font-weight: 500;
   line-height: 18.9px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkThree);
}

.linkHands:hover, .linkHands:focus{
   color: var(--linkFor);
}

/* Секція о нас */

/* .about{
   width: 1188px;
   height: 554px; 

   background-image: url(./img/Group_158.png);

   background-repeat: no-repeat;

   background-position-x: -59px;
   background-position-y: 98px;

   background-size: 1188px 341px;

   background-color: var(--backgroundColorDiv);

   margin: 265px auto 0 auto;
} */

/* Опис класу дів секції "о нас" */

/* .aboutDiv{
   width: 1070px;
   height: 554px;

   background-color: var(--backgroundColorDiv);

   margin: 0 185px;
} */

/* .group{
   padding-top: 98px;
} */

/* Секція кейс */

/* .cases{
   width: 1440px;

   margin: 0 auto;
}

.casesUl{
   display: flex;

   list-style: none;

   padding: 261px 1064px 0 185px;

   margin: 0;
}

.casesLi{
   padding-right: 797px;
}

/* Опис титлу кейс */

/* .casesTitle{
   min-width: 191px;
   min-height: 52px;

   font-family: var(--fontFamily);
   font-size: 60px;
   font-weight: 700;
   line-height: 51.96px;
   letter-spacing: 86.6%;

   color: var(--titleColorTwo);

   margin: 0;
} */

/* Опис силки кейс */


 