@charset "utf-8";

:root{
   --fontFamily:'Poppins';
   --link: #000;
   --linkTwo: #fff;
   --linkThree: #111;
   --titleColor: #000;
   --titleColorSpan: #3c5ef0;
   --textColorPar: #000;
   --textColorParDiv: #ece9e5;
   --parColorText: #fff;
   --backgroundColor: #e5e5e5;
   --backgroundColorDiv: #3C5EF0;
   --backgroundColorDivTwo: #e5e5e5;
   --backgroundColorSection: #111;
   --borderColor: #111;
}

.body {
   background-color: var(--backgroundColor);
}

/* content header */

.header{
   background-color: var(--backgroundColor);
}

.divHeader {
   display: flex;

   align-items: center;

   width: 1440px;
   height: 80px;

   margin: 0px auto;
}

.headerUl {
   display: flex;

   margin-left: 75px;
}

.headerList {
   list-style: none;
}

/* Опис списку */

.headerLi {
   margin-right: 30px;
}

.headerLiOne {
   margin-left: 346px;
   margin-right: 30px;
}

.headerLiTwo {
   margin-right: 0px;
}

/* Опис параграфа Логотипу */

.blue {
   width: 309px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 600;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);

   margin-left: 75px;
}

/* Опис параграфа Логотипу */

.spanBlue {
   font-family: var(--fontFamily);
   font-size: 20px;
   font-weight: 300;
   line-height: 13.42px;
   letter-spacing: 4%;

   text-transform: uppercase;

   color: var(--textColorPar);
}

/* Опис класу ссилок */

.headerLink {
   width: 140px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--link);
}

/* Опис дів контакту */

.divContact {
   width: 143px;
   height: 30px;

   border-radius: 92px;

   background: var(--backgroundColorDiv);

   margin-left: 30px;
}

/* Опис класу ссилки */

.linkDivContact {
   width: 73px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorParDiv);

   margin-top: 8px;
   margin-left: 35px;
}

/* Опис классу ссилки */

.linkSv {
   width: 20px;
   height: 13px;

   font-family: var(--fontFamily);
   font-size: 17px;
   font-weight: 300;
   line-height: 12.68px;
   letter-spacing: 4%;

   text-decoration: none;

   color: var(--textColorPar);

   margin-left: 30px;
   margin-right: 75px;
}

/* Секція маркетинг */



.sectionMarketing {
   width: 1440px;
   height: 751px; 

   background-image: url(./img/foto_1.png);

   background-repeat: no-repeat;

   background-position-x: 797px;
   background-position-y: 62px;

   background-size: 662px; 

   background-color: var(--backgroundColor);

   margin: 0px auto;
}

.divMarketing{
   display: flex;
} 

/* Заголовок маркетинг */

.titleMarketing {
   width: 975px;
   height: 191px;

   font-family: var(--fontFamily);
   font-size: 72px;
   font-weight: 700;
   line-height: 74.9px;
   letter-spacing: 3%;

   color: var(--titleColor);

   margin-top: 146px;
   margin-left: 75px;
}

.spanTitle {
   color: var(--titleColorSpan);
}

/* Параграф маркетинг Блок дів */

.divParMarketing {
   width: 558px;
   height: 208px;

   margin-top: 327px;
   margin-left: -970px;
}

.parMarketing {
   font-family: var(--fontFamily);
   font-size: 28px;
   font-weight: 400;
   line-height: 29.13px;
   letter-spacing: 3%;

   color: var(--textColorPar);
}

/* Список маркетинг */

.marketingUl {
   display: flex;

   margin-left: -40px;
}

.liMarketing {
   list-style: none;

   margin-right: 30px;
}

/* Див силок маркетинг */

.divMarketingLink {
   width: 190px;
   height: 36px;

   border-radius: 58.5px;

   background-color: var(--backgroundColorDiv);

   text-align: center;

   margin-top: 50px;
   margin-right: 30px;
}

.divMarketingLinkTwo {
   width: 190px;
   height: 36px;

   border: 1px solid var(--borderColor);

   border-radius: 58.5px;

   background-color: var(--backgroundColorDivTwo);

   text-align: center;

   margin-top: 50px;
}

/* Опис силок в списку дів маркетинг */

.linkDivMarketing {
   width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkTwo);
}

.linkDivMarketingTwo {
   width: 143px;
   height: 23px;

   font-family: var(--fontFamily);
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 4.5%;

   text-align: center;
   text-decoration: none;
   text-transform: uppercase;

   color: var(--linkThree);
}

/* Секція списку логотипів клієнтів */

.trustedClient {
   width: 1440px;
   height: 241px;

   background-color: var(--backgroundColorSection);

   margin: 0px auto;
}

/* Опис параграфа клієнтів */

.parTrustedClient {
   width: 191px;
   height: 25px;

   font-family: var(--fontFamily);
   font-size: 24px;
   font-weight: 500;
   line-height: 24.97px;
   letter-spacing: 3%;

   color: var(--parColorText);

   margin-top: 33px;
   margin-left: 625px;
}

/* Список логотипів клієнтів */

.trustedClientUl {
   display: flex;

   margin-left: -170px;
}

.trustedClientLi {

   margin-top: 43px;
   margin-right: 47px;
}

.trustedClientLiOne {
   margin-top: -10px;
   margin-right: 123px;
}

.trustedClientLiTwo {
   margin-top: 43px;
   margin-right: 123px;
}

.trustedClientLiThree {
   margin-top: -40px;
   margin-right: 115px;
}

.trustedClientLiFor {
   margin-top: 36px;
   margin-right: 123px;
}

.trustedClientLiFive {
   margin-top: -10px;
}